html,
body {
  background-color: white;
}

.col-6 {
	height: 100%;
	max-width: 1020px;
	margin: auto;
	background: white;
	border-radius: 0px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 5px solid black;
	box-shadow: 0px 0px 10px #aaaaaa;
	padding: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	position: center;
}

.cardPaneLeft {
	background-color: white;
  border-left: 5px solid black;
	border-bottom: 5px solid black;
	border-bottom-left-radius: 50px 50px;
}

.cardPaneRight {
	background-color: white;
  border-right: 5px solid black;
	border-bottom: 5px solid black;
	border-bottom-right-radius: 50px 50px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

nav  {
	display: block;
	color: white;
	height: 65px;
	font-family: "Times New Roman";
	font-weight: bold;
	font-size: 45px;
	background: #F2B66D;
  margin: auto;
	background-size: 182px 65px;
  border-bottom: 2px solid black;
	max-width: 100%;
}

nav a {
  color: white;
}

nav a.hover {
  color: gray;
}

h1 {
		color: gray;
		text-shadow: 2px 2px 3px black;
    font-size: 38px;
}

a {
  color: orange;
}

p  {
	padding-left: 15px;
	padding-right: 15px;
	font-family: Serif;
	color:gray;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td,
th {
  border: 3px solid gray;
	padding: 10px;
  text-align: left;
	margin-left: 5px;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

button {
  align: center;
}

#username {
  color: gold;
}
